body{
    font-family: 'Public Sans', sans-serif;   
    color: rgb(206, 240, 253);
    background-image: url(https://wallpaperaccess.com/full/2843775.jpg);

}
h6 {
    font-family: 'Public Sans', sans-serif; 
    color: rgb(206, 240, 253);
}